.inline-chart {
    width: 32%;
    display: inline-block;
    min-width: 250px;
    min-height: 250px;
}

.long-chart{
  width: 95%;
  display: inline-block;
  min-height: 350px;
}

.percent-chart{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.y .domain {
  display: none;
}

.x .domain {
  display: none;
}

.x .tick line {
  display: none;
}

.y .tick:not(:first-of-type) line {
  stroke: #e7e7e7;
}

.chart-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.highlight {
  fill: #D9D7BC;
}

.chart-tooltip {
  font-family: Helvetica;
  font-size: 12px;
  text-anchor: middle;
  font-weight: bold;
}
