.inline-chart {
    width: 32%;
    display: flex;
    align-items: margin-right;
    justify-content: center;
    display: inline-block;
}

rect {
  fill: #CAAB11;
}

.y .domain {
  display: none;
}

.x .domain {
  display: none;
}

.x .tick line {
  display: none;
}

.y .tick:not(:first-of-type) line {
  stroke: #e7e7e7;
}

.chart-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.highlight {
  fill: #ACACAC;
}

.chart-tooltip {
  font-family: Helvetica;
  font-size: 12px;
  text-anchor: middle;
}
