.inline-chart {
    width: 30%;
    display: inline-block;
    min-width: 250px;
    min-height: 250px;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    background-color: white;
}

.long-chart{
  width: 95%;
  display: inline-block;
  min-height: 350px;
  background-color: white;
  min-width: 250px;
}

.y .domain{
  display: none;
}

.x .domain {
  display: none;
}

.x .tick line {
  display: none;
}

.y .tick:not(:first-of-type) line {
  stroke: #e7e7e7;
}

.chart-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.highlight {
  fill: #D9D7BC;
}

.chart-tooltip {
  font-family: Helvetica;
  font-size: 12px;
  text-anchor: middle;
  font-weight: bold;
}

.paragraph-text{
  font-family: Georgia;
  font-size: 24px;
  margin-left: 0px;
  line-height: 150%;
}

.byline-text{
  font-family: Arial;
  font-size: 20px;
  margin: 0;
  padding: 0
}

.headline-text{
  font-family: Georgia;
  font-size: 55px;
  line-height: 120%;
  letter-spacing: .3px;
}

.header-text{
  font-family: Georgia;
  font-size: 43px;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
}
